<div class="span-18 about">
    <div style="margin-left=2px;">
        <h2 style="text-align: center;">kuhusu mimi</h2>

        <p style="padding-left: 5px;padding-right: 5px;">
            Naitwa geofrey, ni mtanzania mchambuzi na mpenzi wa teknolojia,
            Na hii ni miongoni mwa kazi nazofanya kama mazoezi ya teknolojia mpya au
            ambazo zina mambo mazuri ya kuangalia.
        </p>

        <p>
            Data zako ziko salama kwani zinatunzwa ndani ya browser yako. Kuna teknolojia
            mpya ya kutunza data ndani ya browser inaitwa taffydb. Niiitumia ila kurasa zikawa kubwa mno
            nikaona niiache kwanza.
        </p>

        <p> miongoni mwa teknolojia nilizokwisha tumia ni python,erlang,haskell,scala,php,java
            javascript,css,html5, golang(naipenda na lazima niiifanyia kazi ya maana).
        </p>

        <p>
            Ambazo nataka nizirudie au kuzichimba kiundani ni C, DART,Clojure(au lisp dialect yoyote)
            na coffeescript.
        </p>

        <div class="good-para">
            <p>
                msimba sio mtu, ni tamaduni, ni mtizamo na msimamo
            </p>
        </div>
        <p>
            geofreyernest@live.com
        </p>

        <div>
            <h3>This is Me</h3>
            <img src="img/me1.png">
        </div>

    </div>
</div>