<!DOCTYPE html>
<html>
<head>
    <title>point5 grade</title>
    <link type="text/css" rel="stylesheet" href="css/blueprint/forms.css">
    <link type="text/css" rel="stylesheet" href="css/blueprint/grid.css">
    <link type="text/css" rel="stylesheet" href="css/pure/tables.css">
    <link type="text/css" rel="stylesheet" href="css/pure/buttons.css">
    <link type="text/css" rel="stylesheet" href="css/application.css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/application.js"></script>
    <style>
        img{
        border:none;
        }
    </style>

</head>
<body>
<div class="container">
    <div class="span-24 bg-heder showgrid">
        <a href="/"><img src="img/banner4.png"></a>
        Ijue gpa yako leo!!
    </div>
    <div class="span-5">
        <ul class="menu">
            <li><a href="/">home</a></li>
            <li><a href="/usage">How to use</a></li>
            <li><a href="/about">About me</a></li>
        </ul>
    </div>
    <%= yield %>
    <div class="span-24 foot"> &copy 2014,geofrey ernest</div>
</div>
</body>
</html>