<div class="usage span-18">
    <div>
        <h2>How to add a subject</h2>
        <img src="img/main-table.PNG">

        <p>
            There is a button labelled <strong>add subject</strong>. Clicking the button
            adds a new row which you can fill your data.
        </p>

        <p>
            Note that, The grade item is all what matters. You can leave all the other fields,
            empty and still get your GPA. Also the year and semester are optional, literally they
            do nothing,they are there just incase I have more time to add  more info on the preview page.
        </p>
    </div>
    <div>
        <h2>How to calculate gpa</h2>

        <p>
            Just press the <strong>calculate gpa</strong> button. Your result
            will be displayed below the last entry.
        </p>
        <img src="img/calc.PNG">
    </div>
    <div>
        <h2>How to preview your results</h2>

        <p>
            by clicking the <strong>preview</strong> button, you will see the nice result,
            and dont forget to go back and change by clicking the back button(just incase.
        </p>
        <img src="img/prev.PNG">

        <p>
            Note: you should remember to calculate before preview so as to see the result
            on the preview page.
        </p>
    </div>

    <div>
        <h2>Technology used</h2>

        <p>
            I used the following technologies
        </p>

        <ul>
            <li>ruby</li>
            <li>sinatra</li>
            <li>heroku</li>
            <li>javascript
                <ul>
                    <li>jQuery</li>
                </ul>
            </li>
            <li>css3
                <ul>
                    <li>blueprint css framework</li>
                    <li>pure css framework</li>
                </ul>
            </li>
            <li>html 5</li>
            <li>photoshop</li>
            <li>guts( this aint no joke!!)</li>
        </ul>
    </div>
    <div>
        Cheers and have a nice Time
    </div>
</div>